$color_1: white;
$color_2: black;
$color_3: #7d7d7d;
$font-family_1: 'Kanit', sans-serif;
$background-color_1: #c6c6c6;
$background-color_2: black;
$background-color_3: #f1f0f0;

@import 'mixin';

h1 {
    font-size: 18px;
    text-align: left;
}

.image-fluid {
    display: block;
    margin: 0 auto;
    height: 180px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    background: $background-color_3;
    justify-content: space-between;
    padding: 0 5rem; 
  }

.pagination {
  @include flex-center;
  background-color: $background-color_1; 
  padding: 10px;
}

.pagination button {
  background-color: $background-color_2; 
  margin-right: 15px;
  font-size: 15px;
  color: $color_1; 
  font-family: $font-family_1;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: $color_1; 
  color: $background-color_2; 
}


.card-container{
  width: 100%; 
  @media (min-width: 768px) {
    width: 50%; 
  }
  @media (min-width: 992px) {
    width: 33.3333%; 
  }
  padding: 1.25rem;
}