@import 'mixin.scss';


.orders-container {
    @include flex-row-center;
    margin: 50px 0px 300px 0px;
}


.orders-table {
    flex: 0 0 calc(66.66667% - 1rem);
    max-width: calc(66.66667% - 1rem);
}

.orders-table h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
    margin-bottom: 1rem;
}