$color_1: white;
$color_2: black;
$color_3: #7d7d7d;
$font-family_1: 'Kanit', sans-serif;
$background-color_1: #7d7d7d;
$background-color_2: black;

@import 'mixin';

.item-card {
	@include flex-column-center;
	background-color: $background-color_1;
	border: none;
	border-radius: 6px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	height: 100%;
}

.item-info {
	@include flex-column-center;
	gap: 15px;
	flex-wrap: wrap;
	height: 100%;
}

.btn {
	background-color: $background-color_2;
	margin-right: 15px;
	font-size: 15px;
	color: $color_1;
}

.productStyle {
	@include flex-column-center;
}

.h1,
.rating {
	@include flex-center;
	width: 100%;
	height: 50px;
}

.h1 {
	font-size: 18px;
	color: $color_2;

}

.h1-nombre {
	@include flex-center;
	margin-top: 25px;
	width: 100%;
	height: 100px;
	font-family: $font-family_1;
	font-size: 24px;
	color: $color_2;
	text-decoration: none;
	transition: background-color 0.3s;

	&:hover {
		border: none;
		color: $color_3;
	}
}

.precio-container {
	font-family: $font-family_1;
	font-size: 22px;
	color: red;
	margin-left: 8px;
}


a {
	&:link {
		text-decoration: none;
	}

	&:visited {
		text-decoration: none;
	}

	&:active {
		text-decoration: none;
	}
}
.cart-container {
	margin: 90px 0px;
	@include flex-center;

  }
  
  .cart-card {
	max-width: none;
	width: 80%;
	padding: 20px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	background-color: #fff;
	border-radius: 0.25rem;
  
	.card-content {
	@include flex-column-center;
	}
  }