.item-card {
  border: 3px solid #7d7d7d;
  border-radius: 12px;
}

.item-info {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}


.btn {
  background-color: black;
  padding: 15px 40px;
  font-size: 15px;
  color: white;
}